{%extends 'layout/base.html' %}

{%block title%}Home{%endblock%}

{%block body%}
    <div>

        <form id="city_form">
            <label for="city">City</label>
            <input type="text" id="city" name="city" value="" required>
            <label for="country">Country</label>
            <input type="text" id="country" name="country" value="" required>
            <button type="submit" class="btnSubmit"  style="background-color: #000000; color: #ffffff;">Buscar</button>
        </form>
        <!-- <p>
            {{ weather }}
        </p> -->
    </div>
{%endblock%}