{%extends 'layout/base.html' %}

{%block title%}Mapa del Clima con OpenWeatherMap y MapboxGL{%endblock%}

{%block body%}
<!-- Contenedor del mapa -->
<div id="map"></div>

<!-- Selector de capas -->
<div class="layer-selection">
    <h3>Selecciona capa meteorológica:</h3>
    <select id="layer-select">
        <option value="temp_new">Temperatura</option>
        <option value="precipitation_new">Precipitación</option>
        <option value="clouds_new">Nubes</option>
        <option value="pressure_new">Presión</option>
        <option value="wind_new">Viento</option>
    </select>
</div>

<!-- Incluir MapboxGL JS -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
{%endblock%}